PROJECT_DIR=/home/smit_vr/cursobsgetl/codigo/etl-ai-lab
AIRFLOW_HOME=/home/smit_vr/cursobsgetl/codigo/etl-ai-lab/airflow
HIVE_BEELINE_URL=jdbc:hive2://localhost:10000/yolo_project
HDFS_STAGING_DIR=/projects/yolo_objects/staging
HDFS_HIVE_DIR=/projects/yolo_objects/hive
YOLO_MODEL=models/yolov8n.pt
